extends ../layout

block content
    #listado.table-responsive-md
        button.btn-ingresar(onclick="window.location.href='/bicicletas/create'") Ingresar Bicicleta
        h1.list-header Listado de bicicletas
        table.table.table-striped.table-dark
            thead.thead-dark
                tr
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Modelo
                    th(scope='col') Ubicacion
                    th(scope='col') Actualizar
                    th(scope='col') Eliminar
            tbody
                each bici in bicis
                    tr
                        th(scope='row')
                            = bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
                        td
                            button.update(onclick=`window.location.href="/bicicletas/${bici.id}/update"`)
                        td
                            form.inline(method='post' action='/bicicletas/' + bici.id + '/delete')
                                input(type='hidden' name='id' value= bici.id)
                                button(type='submit' name='submit_param' value='submit_value' class='btn-delete')